{%  extends 'base.html'%}


{% block admin-panel %}

    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Create
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'post_create_url' %}">Post</a>
            <a class="dropdown-item" href="{% url 'tag_create_url' %}">Tag</a>
        </div>
    </div>

    <a class="btn btn-warning edit" href="{{ admin_object.get_update_url }}" style="{% if detail %}display: block;{% endif %}">Edit</a>
    <a class="btn btn-danger delete" href="{{ admin_object.get_delete_url }}" style="{% if detail %}display: block;{% endif %}">Delete</a>
{% endblock %}
